*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}
.container{
	width: 100%;
	height: 100vh;
	background-image: url('background.png');
	background-position: center;
	background-size: cover;
	padding: .7%;
	color: #fff;
}
nav{
	width: 100%;
	padding: 20px 0;
	display: flex;
	align-items: center;
}
.logo{
	/* width: 50px;
	cursor: pointer;
	padding-right: 5px; */
    color:#ff960b ;
	display: flex;
	font-size: 1.5rem;
	font-weight: bold;
	align-items: center;
    text-decoration: none; 
	
}
.logo img{
	padding-right: 3px;

}

nav ul{
	flex: 1;
}
nav ul li{
	display: inline-block;
	margin: 10px 20px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
}
nav .btn{
	color: #fff;
	text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}
.content{
	margin-top: 12%;
	padding-left: 35px;

}
.content h1{
	font-size: 80px;
	margin-bottom: 15px;
}
.content h1 span{
	color: #ff960b;
}
.content p{
	line-height: 22px;
	font-size: 14px;

}
.content .btn{
    display: inline-block;
    margin-top: 30px;
    background:#ff960b;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px ;
    border-radius: 30px;

}


.coinage{
	position: absolute;
	right: 10%;
	bottom: 50px;
	display: flex;
	align-items: center;
}
.coin{
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 0 15px;
	color: #ff960b;
	border: 1px solid #fff;
	padding: 20px 30px;
	border-radius: 8px;
}
.coin img{
	width: 40px;
	margin-right: 10px;
}
.coin h3{
	color: #fff;
	margin-bottom: 5px;
}